{% extends 'base.html' %}

{% block content %}
  <h1>Historique des ordonnances</h1>
  
  {% if user.is_authenticated %}
    <div class="buttons-container">
      <form action="{% url 'profil' %}" method="get">
        <button type="submit" class="btn">Mon Profil</button>
      </form>
      <form action="{% url 'fichiers:televerser_ordonnance' %}" method="get">
        <button type="submit" class="btn">Téléverser un fichier</button>
      </form>
      <form action="{% url 'index' %}" method="get">
        <button type="submit" class="btn">Retour à la liste de pharmacies</button>
      </form>
    </div>
  {% endif %}

  <table class="history-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Pharmacie</th>
        <th>Date de création</th>
        <th>Statut</th>
        <th>Lien vers votre ordonnance</th>
      </tr>
    </thead>
    <tbody>
      {% for ordonnance in ordonnances %}
        <tr>
          <td>{{ ordonnance.id }}</td>
          <td>{{ ordonnance.pharmacie.name }}</td>
          <td>{{ ordonnance.date_creation }}</td>
          <td>{{ ordonnance.get_statut_display }}</td>
          <td>
            <!-- Directement afficher l'URL dans un lien pour vérifier que l'URL est correcte -->
            <a href="{{ ordonnance.drive_file_url }}" target="_blank">{{ ordonnance.drive_file_url }}</a>
          </td>
        </tr>
      {% empty %}
        <!-- Affiche cette ligne si la liste d'ordonnances est vide -->
        <tr>
          <td colspan="5">Aucune ordonnance soumise.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}

{% block extra_css %}
  <style>
    .buttons-container {
      margin-bottom: 20px;
    }

    .btn {
      padding: 10px 20px;
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-right: 10px;
      text-align: center;
    }

    .btn:hover {
      background-color: #45a049;
    }

    .history-table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .history-table th, .history-table td {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    .history-table th {
      background-color: #f2f2f2;
      color: #333;
    }

    .history-table tr:hover {
      background-color: #f5f5f5;
    }

    .ordonnance-image {
      max-width: 100px;
      height: auto;
      border-radius: 5px;
    }
  </style>
{% endblock %}
