{% extends 'base.html' %}

{% block content %}
    <style>
        /* Style spécifique à la page d'accueil */
        .dashboard-container {
            max-width: 1000px;
            margin: 50px auto;
            padding: 20px;
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .dashboard-container h1 {
            text-align: center;
            color: #333;
            font-size: 28px;
            margin-bottom: 20px;
        }

        .profile-button {
            display: block;
            width: 200px;
            margin: 20px auto;
            padding: 10px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            text-align: center;
        }

        .profile-button:hover {
            background-color: #0056b3;
        }

        .pharmacy-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            background: #f9f9f9;
            margin: 20px 0;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            text-align: center;
            max-width: 300px;
            margin-left: auto;
            margin-right: auto;
        }

        .pharmacy-card img {
            max-width: 100%;
            border-radius: 8px;
        }

        .pharmacy-card h2 {
            margin-top: 15px;
            font-size: 20px;
            color: #333;
        }

        .pharmacy-card a {
            margin-top: 10px;
            font-size: 16px;
            color: #007bff;
            text-decoration: none;
        }

        .pharmacy-card a:hover {
            text-decoration: underline;
        }

        .search-bar {
            margin-bottom: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .search-bar input {
            padding: 8px;
            font-size: 16px;
            width: 300px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .search-bar button {
            padding: 8px 16px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            margin-left: 10px;
            cursor: pointer;
        }

        .search-bar button:hover {
            background-color: #0056b3;
        }
    </style>

    <div class="dashboard-container">
        <h1>Bienvenue chez Easyprescription</h1>

        {% if user.is_authenticated %}
            <form action="{% url 'profil' %}" method="get">
                <button type="submit" class="profile-button">Mon Profil</button>
            </form>
        {% endif %}

        <!-- Barre de recherche -->
        <div class="search-bar">
            <form action="{% url 'dashboard' %}" method="GET">
                <input type="text" name="search_city" value="{{ search_city }}" placeholder="Entrez une ville" />
                <button type="submit">Rechercher</button>
            </form>
        </div>

        <div class="pharmacy-list">
            {% if pharmacies %}
                {% for pharmacie in pharmacies %}
                    <div class="pharmacy-card">
                        <h2>{{ pharmacie.name }}</h2>
                        {% if pharmacie.thumbnail %}
                            <img src="{{ pharmacie.thumbnail.url }}" alt="{{ pharmacie.name }}">
                        {% endif %}
                        <p>{{ pharmacie.adresse }}</p>
                        <p>{{ pharmacie.ville }}</p>
                        <p>{{ pharmacie.telephone }}</p>
                        <a href="{{ pharmacie.get_absolute_url }}">Voir la pharmacie</a>
                    </div>
                {% endfor %}
            {% else %}
                <p>Aucune pharmacie trouvée pour cette ville.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
